# In this session, we review basic Python Data Types

## <font color="red"> Data Types </font>

### <font color="blue"> Numbers </font>

In [9]:
#Try type an integer below and run the code:
8

8

In [10]:
#Now try a floating point number -- a decimal number:
0.2

0.2

### <font color="blue"> Operators </font>

In [11]:
# Let's try "+" and "-" --- try to use integer AND floating point and see what happens...
8+0.5

8.5

In [13]:
# Now let's try "*" and "/" --- same idea
8/4

2.0

In [14]:
# For exponents we use the operator "**"
2**2

4

In [15]:
#Order of Operations: guess what the flowing code would generate? 
2 + 3 * 5 - 1

16

In [16]:
#What if I want the result to be 24 (2 plus 3, then multiply by 5, then minus 1)?
(2+3)*5-1

24

### <font color="blue"> Variable and Variable Assignment </font>

In [8]:
# We can use variables to hold values -- just like algebra.
x

NameError: name 'x' is not defined

In [1]:
# Why do we have an error? Because the variable "x" is not defined -- we did not assign any value to it
# to assign values, we use the operator "=". Run the following:
x = 3
x

3

In [2]:
y = 'test'
y

'test'

In [3]:
However, variables cannot start with number or special characters
# Try run the following. Why do we get an error?
3rd_attempt = 4

SyntaxError: invalid syntax (<ipython-input-3-df66f32da3c4>, line 1)

In [5]:
#NOTICE that "=" is NOT equal sign, but assignment. This tends to cause confusion for beginners: Guess what x is at the end?
x = 3
x = x * x 
x

9

In [6]:
# What is really going on during assignment? We could use "id()" command to figure this out. Python gives each object an ID to 
# keep track of them
x = 3
y = 3
print(id(x))
print(id(y))

4302446920
4302446920

In [7]:
# Why do x and y share the same ID? Because they have the same integer value 3. Python is smart enough to reuse the memory space
# when it detects that the same value is being reused. But wait, it gets better
x = 3
y = 5
print(id(x))
print(id(y))
x = y
print(id(x))
print(id(y))

4302446920
4302446984
4302446984
4302446984

In [8]:
# notice that when we assign y to x, they became THE SAME OBJECT. It makes sense, since they are pointing to the same value now
# What will happen now:
x = 3
y = 5
print(id(x))
print(id(y))
x = y+1
print(id(x))
print(id(y))

4302446920
4302446984
4302447016
4302446984

In [9]:
# One concept we will be more familiar with later is IMMUTABLE VS. MUTABLE. Mutable objects can change their state or contents
# and immutable objects can’t change their state or content. In-built types like int, float, bool, string, unicode, tuple are
# IMMUTABLE. In simple words, an immutable object can’t be changed after it is created.
a = 3
print(id(a))
a = 5
print(id(a))

4302446920
4302446984

### <font color="blue"> Strings </font>

In [10]:
# Given the special nature of Strings, we will focus on it here as a unique data type
# Advanced: String is actually a immutable list, more on that later.
# There are three ways to present a string
#1: 
s = 'we can use signle parentheses'
print(s)

we can use signle parentheses

In [11]:
#2: 
s = "It's also possible to use double parentheses"
print(s)

It's also possible to use double parentheses

In [12]:
#3:
s = '''in case I have too much to say and cannot finish in one line, 
I can also use triple parentheses'''
print(s)

in case I have too much to say and cannot finish in one line,
I can also use triple parentheses

In [13]:
#With string comes print function. Be careful when you use print -- it might give you an error. Would the following code
# give you an error?
a = 4
b = 'and the result is'
print (b,a)

and the result is 4

In [15]:
#Lucky you! How about the following? Why?
a = 4
b = 'and the result is'
print (b + ' ' + a)

TypeError: can only concatenate str (not "int") to str

   #### Some helpful functions for Strings

In [16]:
#FORMAT: allows you to have "placeholders" in your string, making it more flexible
course_num = 665
course_name = 'data analytics'
summary = "IS {} titled '{}' will be offered in the spring".format(course_num, course_name)
print(summary)

IS 665 titled 'data analytics' will be offered in the spring

In [17]:
#LEN(): As the name indicates, it returns the length of your string
course_name = 'data analytics'
print(len(course_name))

14

In [18]:
# +: To concatenate two strings
course_num = 'IS 665'
course_name = 'data analytics'
intro = course_num + ': ' + course_name
print(intro)

IS 665: data analytics

In [25]:
# upper, lower, replace, and find(): I have only listed one. Why don't you give the rest a try?
course_name = 'data analytics'
print(course_name.upper())
print(course_name.lower())

DATA ANALYTICS
data analytics

### <font color="blue"> Logic Operators </font>

In [26]:
# Like other progamming languages, we have data type boolean - just make sure that you type them correcty
a = true
b = TRUE
c = True
print(a)
print(b)
print(c)

NameError: name 'true' is not defined

In [27]:
#Comparison Operators: like all other languages, we have >, <, >=, <=, and == for comparison
print(5 > 3)
print(5 < 3)
print(4 >= 4)
print('x' == 'x')

True
False
True
True

In [28]:
# You guessed it : when we conduct COMPARISON, we produce a boolean value
a = 5 > 3
print(a)

True

In [32]:
# String can work with Boolean, too
my_string = "Hello World"
my_string.isalnum()		#check if all char are numbers
my_string.isdigit()		#test if string contains digits
my_string.isupper()		#test if string contains upper case
my_string.islower()		#test if string contains lower case
my_string.isspace()		#test if string contains spaces
my_string.endswith('d')		#test if string endswith a d
my_string.startswith('H')	#test if string startswith H

True

In [33]:
# Now let's throw two boolean values together and see what happens... 
print (True and False)
print (True or False)
print (True or False and False)

False
True
True

In [34]:
#That is correct, AND is evaluated BEFORE OR
(1 > 2) or (3 > 4) and (5 < 6)

False