# Data Input and Output

Pandas can read a variety of file types using its pd.read_ methods. Here, we will learn to work with csv and Excel files.

In [1]:
import numpy as np
import pandas as pd

In [2]:
#To read a file, make sure that it is stored under the same directory as your Jupiter Notebook. To check, use:
import os
os.getcwd()

'/Users/elion/PycharmProjects/pythonProject/IS465/Labs'

## CSV

### CSV Input

In [3]:
# For this practice, please make sure that you download the "flights.csv" file to your Jupyter folder
flight = pd.read_csv('flights.csv')
flight

,Airport code,Country,City,Path ID,Path Order,Flow Amount (t),Latitude,Longitude
0,PRG,Czech Republic,Prague,PRG-VIE,1,NaN,50.075538,14.437800
1,VIE,Austria,Vienna,PRG-VIE,2,250.0,48.208174,16.373819
2,PRG,Czech Republic,Prague,PRG-MSQ,1,NaN,50.075538,14.437800
3,MSQ,Belarus,Minsk,PRG-MSQ,2,1200.0,53.904540,27.561524
4,PRG,Czech Republic,Prague,PRG-TMP,1,NaN,50.075538,14.437800
5,TMP,Finland,Tampere,PRG-TMP,2,800.0,61.497752,23.760954
6,PRG,Czech Republic,Prague,PRG-HAM,1,NaN,50.075538,14.437800
7,HAM,Germany,Hamburg,PRG-HAM,2,400.0,53.551085,9.993682
8,PRG,Czech Republic,Prague,PRG-ATH,1,NaN,50.075538,14.437800
9,ATH,Greece,Athens,PRG-ATH,2,150.0,37.983810,23.727539
10,PRG,Czech Republic,Prague,PRG-DUB,1,NaN,50.075538,14.437800
11,DUB,Ireland,Dublin,PRG-DUB,2,500.0,53.349805,-6.260310
12,PRG,Czech Republic,Prague,PRG-MRS,1,NaN,50.075538,14.437800
13,MRS,France,Marseille,PRG-MRS,2,800.0,43.296482,5.369780
14,PRG,Czech Republic,Prague,PRG-AMS,1,NaN,50.075538,14.437800
15,AMS,Netherlands,Amsterdam,PRG-AMS,2,50.0,52.370216,4.895168
16,PRG,Czech Republic,Prague,PRG-WAW,1,NaN,50.075538,14.437800
17,WAW,Poland,Warsaw,PRG-WAW,2,550.0,52.229676,21.012229
18,PRG,Czech Republic,Prague,PRG-LIS,1,NaN,50.075538,14.437800
19,LIS,Portugal,Lisbon,PRG-LIS,2,130.0,38.722252,-9.139337
20,PRG,Czech Republic,Prague,PRG-BEG,1,NaN,50.075538,14.437800
21,BEG,Serbia,Belgrad,PRG-BEG,2,920.0,44.786568,20.448922
22,PRG,Czech Republic,Prague,PRG-IST,1,NaN,50.075538,14.437800
23,IST,Turkey,Istanbul,PRG-IST,2,810.0,41.008238,28.978359
24,PRG,Czech Republic,Prague,PRG-DNK,1,NaN,50.075538,14.437800
25,DNK,Ukraine,Dnepropetrovsk,PRG-DNK,2,1300.0,48.464717,35.046183
26,PRG,Czech Republic,Prague,PRG-FRA,1,NaN,50.075538,14.437800
27,FRA,Germany,Frankfurt,PRG-FRA,2,1000.0,50.110922,8.682127
28,PRG,Czech Republic,Prague,PRG-SOF,1,NaN,50.075538,14.437800
29,SOF,Bulgaria,Sofia,PRG-SOF,2,380.0,42.697708,23.321868

### CSV Output

In [4]:
flight.to_csv('test1.csv')
#to remove the index field, just use:
flight.to_csv('test1.csv',index=False)

## Excel

### Excel Input

In [5]:
GBI = pd.read_excel('GBI.xlsx',sheet_name='Sales')
type(GBI)
print(GBI)

       YEAR  MONTH  DAY  Customer   CustomerDescr    City Salesorg Country  \
0      2007      1    1      5000  Beantown Bikes  Boston     UE00      US
1      2007      1    1      5000  Beantown Bikes  Boston     UE00      US
2      2007      1    1      5000  Beantown Bikes  Boston     UE00      US
3      2007      1    1      5000  Beantown Bikes  Boston     UE00      US
4      2007      1    1      5000  Beantown Bikes  Boston     UE00      US
...     ...    ...  ...       ...             ...     ...      ...     ...
48379  2011     12   31     19000        Fahrpott  Bochum     DN00      DE
48380  2011     12   31     19000        Fahrpott  Bochum     DN00      DE
48381  2011     12   31     19000        Fahrpott  Bochum     DN00      DE
48382  2011     12   31     19000        Fahrpott  Bochum     DN00      DE
48383  2011     12   31     19000        Fahrpott  Bochum     DN00      DE

       OrderNumber  OrderItem  ... Division SalesQuantity UnitOfMeasure  \
0           100001         10  ...       BI             2            ST
1           100001         20  ...       BI             5            ST
2           100001         30  ...       BI             1            ST
3           100001         40  ...       BI             1            ST
4           100001         50  ...       BI             7            ST
...            ...        ...  ...      ...           ...           ...
48379       103318         80  ...       AS             1            ST
48380       103318         90  ...       AS             2            ST
48381       103318        100  ...       AS             1            ST
48382       103318        110  ...       AS             2            ST
48383       103318        120  ...       AS             1            ST

        Revenue  Currency Discount  CostOfGoodsManufactured Revenue USD  \
0       6000.00       USD    300.0                  2800.00     6000.00
1      16000.00       USD    800.0                  7500.00    16000.00
2       2400.00       USD    120.0                  1200.00     2400.00
3       1600.00       USD     80.0                   900.00     1600.00
4      11900.00       USD    595.0                  7000.00    11900.00
...         ...       ...      ...                      ...         ...
48379     43.35       EUR      0.0                    18.57       58.37
48380     31.22       EUR      0.0                    13.37       42.04
48381     27.75       EUR      0.0                    11.88       37.37
48382     48.56       EUR      0.0                    20.79       65.39
48383     34.68       EUR      0.0                    14.85       46.70

       Discount USD  Cogm USD
0             300.0    2800.0
1             800.0    7500.0
2             120.0    1200.0
3              80.0     900.0
4             595.0    7000.0
...             ...       ...
48379           0.0      25.0
48380           0.0      18.0
48381           0.0      16.0
48382           0.0      28.0
48383           0.0      20.0

[48384 rows x 23 columns]

### Excel Output

In [6]:
GBI.to_excel('test2.xlsx',sheet_name='Sheet1')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. Use:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.

In [3]:
myData = pd.read_html('https://archive.ics.uci.edu/ml/datasets/Hepatitis+C+Virus+%28HCV%29+for+Egyptian+patients')

In [4]:
# Note that read_html returns a LIST, not a data frame -- it is the list of HTML tags that might contain a table
type(myData)

list

In [5]:
myData[0]

,0,1
0,Center for Machine Learning and Intelligent Sy...,About Citation Policy Donate a Data Set Contac...

In [6]:
myData[1]

                                                   0
0  Hepatitis C Virus (HCV) for Egyptian patients ...

In [7]:
myData[3]

,0,1,2,3,4,5
0,Data Set Characteristics:,Multivariate,Number of Instances:,1385.0,Area:,Life
1,Attribute Characteristics:,"Integer, Real",Number of Attributes:,29.0,Date Donated,2019-09-30
2,Associated Tasks:,Classification,Missing Values?,NaN,Number of Web Hits:,63815