# In this session, we learn the one data structure we will be working with the most: dataFrame

## <font color="red"> DataFrame </font>

DataFrame is Pandas' way to handle tabular data. 
You can think of it as a two-way array. In fact, each column of the "table" is a series

## <font color="blue"> 1. Define a DataFrame </font>

In [ ]:
#In this example, we first create a 4 by 3 array, then use this array to create a df object.

import pandas as pd
import numpy as np
a = np.random.rand(4,3)
print(type(a))
print(a)
df = pd.DataFrame(a)
print(df)

In [ ]:
# We could add labels to each column -- this would be your "column headers"
df.columns = ['A','B','C']
df

In [ ]:
# What about the rows? the default would always start from 0. To change the row index, use the index() function --
# Remember, a df is actually a bunch of series put together. Each column is a series, therefore, all series command 
# works for all columns
df.index =[1,2,3,4]
df

In [ ]:
# We can also convenient create time series, thanks to the date_range() function
df.index = pd.date_range('20200101',periods = 4)
df

In [ ]:
# To GET the column name:
print(df.columns)
# To GET the row index:
print(df.index)
# To get the values of the whole table:
print(df.values)

In [ ]:
# Most of the time, we use excel or csv files as input and use dataFrame to hold a table. Please refer to the IO tutorial file

## <font color="blue"> 2. Reading Operations </font>

Just like an NumPy array, we can do slicing in DataFrame as well

In [ ]:
# Selecting the first five rows
df.head()

In [ ]:
# You can also decide how many rows you want
df = pd.DataFrame(np.random.rand(20,20))
print(df)
df.head(6)

In [ ]:
# You can also view the LAST five rows of the table:
df.tail()

In [ ]:
# and you can also customize
df.tail(7)

In [ ]:
# You can select a specific column
df.columns = np.arange(1,21)
print(df)
print(df[4])

In [ ]:
# Remember that each COLUMN is a series, so you are actually returning a series
a = df[6]
type(a)

In [ ]:
# However, if you retrieve multiple columns...
b = df[[6,9]]
print(b)
print(type(b))

In [ ]:
# We have covered slicing by columns. Now we slice by rows
print(df[2:4])

In [ ]:
# Notice how row and columns work differently -- this would NOT return the fourth row:
print(df[4])
# How do you retrieve row 4 then? by using iloc()
print(df.iloc[4])

In [2]:
# is it a little hard to see using the above example? Let's create another df and refresh our memory of the array object
import pandas as pd
import numpy as np
a = np.array(np.random.randint(1,100,30))
b = a.reshape(5,-1)
print(b)

[[67 85 38 61 22 94]
 [44 57 77 38 93 53]
 [12 23 92 71 30 54]
 [65 65 86 71 40 42]
 [25 76 63 31 73 80]]

In [ ]:
df2 = pd.DataFrame(b)
df2

In [ ]:
# Now let's compare how you retrive a row vs. a column
df2[3]

In [ ]:
df2[3:5]

In [ ]:
df2[[3,5]]

In [ ]:
df2.iloc[2]

In [ ]:
df2.iloc[2:4]

In [ ]:
df2.iloc[[2,4]]

In [ ]:
df2.iloc[2,4]

In [ ]:
# Confusing? When iloc takes in ONE item - be it a list or a number, it inteprets it as the row index
# However, if it takes in TWO parameters separated by "," it will take the first one as the row index and the second one as the 
# column index
df2.iloc[2:4,3:5]

In [ ]:
# To Summarize:
# To retrive whole columns, you just need to use the command df[column indexes]
# Try retrieve column 2 and 5 from df2:

In [ ]:
# To retrieve rows, you need the iloc function: df.iloc[row numbers]
# Try retrieve row 2 and row 4 from df2

In [ ]:
# To slice, you use iloc() with TWO parameters
# Try retrieve row 1 and 3 at column 2 and 4

------------------------------------------------------------------------------------------------------------------

In [3]:
#Let's now work with real data set.
GBI = pd.read_excel('GBI.xlsx',sheet_name='Sales')
print(GBI)

       YEAR  MONTH  DAY  Customer   CustomerDescr    City Salesorg Country  \
0      2007      1    1      5000  Beantown Bikes  Boston     UE00      US
1      2007      1    1      5000  Beantown Bikes  Boston     UE00      US
2      2007      1    1      5000  Beantown Bikes  Boston     UE00      US
3      2007      1    1      5000  Beantown Bikes  Boston     UE00      US
4      2007      1    1      5000  Beantown Bikes  Boston     UE00      US
...     ...    ...  ...       ...             ...     ...      ...     ...
48379  2011     12   31     19000        Fahrpott  Bochum     DN00      DE
48380  2011     12   31     19000        Fahrpott  Bochum     DN00      DE
48381  2011     12   31     19000        Fahrpott  Bochum     DN00      DE
48382  2011     12   31     19000        Fahrpott  Bochum     DN00      DE
48383  2011     12   31     19000        Fahrpott  Bochum     DN00      DE

       OrderNumber  OrderItem  ... Division SalesQuantity UnitOfMeasure  \
0           100001         10  ...       BI             2            ST
1           100001         20  ...       BI             5            ST
2           100001         30  ...       BI             1            ST
3           100001         40  ...       BI             1            ST
4           100001         50  ...       BI             7            ST
...            ...        ...  ...      ...           ...           ...
48379       103318         80  ...       AS             1            ST
48380       103318         90  ...       AS             2            ST
48381       103318        100  ...       AS             1            ST
48382       103318        110  ...       AS             2            ST
48383       103318        120  ...       AS             1            ST

        Revenue  Currency Discount  CostOfGoodsManufactured Revenue USD  \
0       6000.00       USD    300.0                  2800.00     6000.00
1      16000.00       USD    800.0                  7500.00    16000.00
2       2400.00       USD    120.0                  1200.00     2400.00
3       1600.00       USD     80.0                   900.00     1600.00
4      11900.00       USD    595.0                  7000.00    11900.00
...         ...       ...      ...                      ...         ...
48379     43.35       EUR      0.0                    18.57       58.37
48380     31.22       EUR      0.0                    13.37       42.04
48381     27.75       EUR      0.0                    11.88       37.37
48382     48.56       EUR      0.0                    20.79       65.39
48383     34.68       EUR      0.0                    14.85       46.70

       Discount USD  Cogm USD
0             300.0    2800.0
1             800.0    7500.0
2             120.0    1200.0
3              80.0     900.0
4             595.0    7000.0
...             ...       ...
48379           0.0      25.0
48380           0.0      18.0
48381           0.0      16.0
48382           0.0      28.0
48383           0.0      20.0

[48384 rows x 23 columns]

In [4]:
#How do we use column NAME instead of POSITION to retrieve a column?
#Let's retrieve the 'CITY' column:
GBI['City']

0        Boston
1        Boston
2        Boston
3        Boston
4        Boston
          ...
48379    Bochum
48380    Bochum
48381    Bochum
48382    Bochum
48383    Bochum
Name: City, Length: 48384, dtype: object

In [5]:
#It is the same as loc() function - NOTE that the syntax for loc[], just like iloc[], is row,column
GBI.loc[:,'City']

0        Boston
1        Boston
2        Boston
3        Boston
4        Boston
          ...
48379    Bochum
48380    Bochum
48381    Bochum
48382    Bochum
48383    Bochum
Name: City, Length: 48384, dtype: object

In [6]:
#... or simply:
GBI.City

0        Boston
1        Boston
2        Boston
3        Boston
4        Boston
          ...
48379    Bochum
48380    Bochum
48381    Bochum
48382    Bochum
48383    Bochum
Name: City, Length: 48384, dtype: object

In [7]:
#You can also select unique values of a column
GBI.City.unique()

array(['Boston', 'München', 'Berlin', 'Bochum', 'Atlanta', 'Chicago',
       'Hannover', 'Leipzig', 'Stuttgart', 'Magdeburg', 'Irvine',
       'Hamburg', 'New York City', 'Detroit', 'Heidelberg',
       'Philadelphia', 'Grand Rapids', 'Seattle', 'Washington DC',
       'Denver', 'Palo Alto', 'Frankfurt', 'Anklam'], dtype=object)

In [10]:
# Let's try to retrieve the first five rows of the city column
print(GBI.loc[0:4,'City'])

0    Boston
1    Boston
2    Boston
3    Boston
4    Boston
Name: City, dtype: object

In [9]:
#Exercise: print the City name for the 100th row in GBI; 
GBI.City[100]

'Atlanta'

In [11]:
# Selecting based on value: Just like list, you can use logic operators to filter out rows you do not want
print(GBI[GBI.Revenue>6000])

       YEAR  MONTH  DAY  Customer    CustomerDescr     City Salesorg Country  \
1      2007      1    1      5000   Beantown Bikes   Boston     UE00      US
4      2007      1    1      5000   Beantown Bikes   Boston     UE00      US
6      2007      1    1      5000   Beantown Bikes   Boston     UE00      US
14     2007      1    1     15000    Bavaria Bikes  München     DS00      DE
28     2007      1    1     16000    Capital Bikes   Berlin     DN00      DE
...     ...    ...  ...       ...              ...      ...      ...     ...
48207  2011     12   10     23000  Red Light Bikes  Hamburg     DN00      DE
48215  2011     12   12     16000    Capital Bikes   Berlin     DN00      DE
48216  2011     12   12     16000    Capital Bikes   Berlin     DN00      DE
48346  2011     12   28     15000    Bavaria Bikes  München     DS00      DE
48351  2011     12   28     15000    Bavaria Bikes  München     DS00      DE

       OrderNumber  OrderItem  ... Division SalesQuantity UnitOfMeasure  \
1           100001         20  ...       BI             5            ST
4           100001         50  ...       BI             7            ST
6           100001         70  ...       BI             2            ST
14          100002         30  ...       BI             3            ST
28          100003         20  ...       BI             4            ST
...            ...        ...  ...      ...           ...           ...
48207       103302        100  ...       BI             2            ST
48215       103303         20  ...       BI             3            ST
48216       103303         30  ...       BI             6            ST
48346       103315         70  ...       BI             5            ST
48351       103315        120  ...       BI             3            ST

        Revenue  Currency Discount  CostOfGoodsManufactured Revenue USD  \
1      16000.00       USD   800.00                  7500.00    16000.00
4      11900.00       USD   595.00                  7000.00    11900.00
6       8000.00       USD   400.00                  4400.00     8000.00
14      7842.54       EUR   392.13                  3342.00    10559.98
28      9803.20       EUR   294.10                  4158.93    13200.01
...         ...       ...      ...                      ...         ...
48207   6936.50       EUR   208.10                  3267.73     9340.00
48215   6242.85       EUR   187.29                  2673.60     8406.00
48216   8844.06       EUR   265.32                  4456.00    11908.53
48346  10404.75       EUR   520.24                  4456.00    14010.00
48351  10404.75       EUR   520.24                  4901.60    14010.00

       Discount USD  Cogm USD
1            800.00    7500.0
4            595.00    7000.0
6            400.00    4400.0
14           528.00    4500.0
28           396.01    5600.0
...             ...       ...
48207        280.21    4400.0
48215        252.19    3600.0
48216        357.25    6000.0
48346        700.50    6000.0
48351        700.50    6600.0

[11154 rows x 23 columns]

## <font color="blue"> 3. Writing Operations </font>

In [12]:
# Sorting can be done by labels:
print(GBI.sort_index(axis=0, ascending = False))
print(GBI.sort_index(axis=1, ascending = False))
# axis 0 means sorting by row, axis 1 means sorting by column LABLES

       YEAR  MONTH  DAY  Customer   CustomerDescr    City Salesorg Country  \
48383  2011     12   31     19000        Fahrpott  Bochum     DN00      DE
48382  2011     12   31     19000        Fahrpott  Bochum     DN00      DE
48381  2011     12   31     19000        Fahrpott  Bochum     DN00      DE
48380  2011     12   31     19000        Fahrpott  Bochum     DN00      DE
48379  2011     12   31     19000        Fahrpott  Bochum     DN00      DE
...     ...    ...  ...       ...             ...     ...      ...     ...
4      2007      1    1      5000  Beantown Bikes  Boston     UE00      US
3      2007      1    1      5000  Beantown Bikes  Boston     UE00      US
2      2007      1    1      5000  Beantown Bikes  Boston     UE00      US
1      2007      1    1      5000  Beantown Bikes  Boston     UE00      US
0      2007      1    1      5000  Beantown Bikes  Boston     UE00      US

       OrderNumber  OrderItem  ... Division SalesQuantity UnitOfMeasure  \
48383       103318        120  ...       AS             1            ST
48382       103318        110  ...       AS             2            ST
48381       103318        100  ...       AS             1            ST
48380       103318         90  ...       AS             2            ST
48379       103318         80  ...       AS             1            ST
...            ...        ...  ...      ...           ...           ...
4           100001         50  ...       BI             7            ST
3           100001         40  ...       BI             1            ST
2           100001         30  ...       BI             1            ST
1           100001         20  ...       BI             5            ST
0           100001         10  ...       BI             2            ST

        Revenue  Currency Discount  CostOfGoodsManufactured Revenue USD  \
48383     34.68       EUR      0.0                    14.85       46.70
48382     48.56       EUR      0.0                    20.79       65.39
48381     27.75       EUR      0.0                    11.88       37.37
48380     31.22       EUR      0.0                    13.37       42.04
48379     43.35       EUR      0.0                    18.57       58.37
...         ...       ...      ...                      ...         ...
4      11900.00       USD    595.0                  7000.00    11900.00
3       1600.00       USD     80.0                   900.00     1600.00
2       2400.00       USD    120.0                  1200.00     2400.00
1      16000.00       USD    800.0                  7500.00    16000.00
0       6000.00       USD    300.0                  2800.00     6000.00

       Discount USD  Cogm USD
48383           0.0      20.0
48382           0.0      28.0
48381           0.0      16.0
48380           0.0      18.0
48379           0.0      25.0
...             ...       ...
4             595.0    7000.0
3              80.0     900.0
2             120.0    1200.0
1             800.0    7500.0
0             300.0    2800.0

[48384 rows x 23 columns]
       YEAR UnitOfMeasure Salesorg  SalesQuantity  Revenue USD   Revenue  \
0      2007            ST     UE00              2      6000.00   6000.00
1      2007            ST     UE00              5     16000.00  16000.00
2      2007            ST     UE00              1      2400.00   2400.00
3      2007            ST     UE00              1      1600.00   1600.00
4      2007            ST     UE00              7     11900.00  11900.00
...     ...           ...      ...            ...          ...       ...
48379  2011            ST     DN00              1        58.37     43.35
48380  2011            ST     DN00              2        42.04     31.22
48381  2011            ST     DN00              1        37.37     27.75
48382  2011            ST     DN00              2        65.39     48.56
48383  2011            ST     DN00              1        46.70     34.68

                                  ProductDescr Product Category   Product  \
0                 Deluxe Touring Bike (silver)              TOU  DXTR2000
1           Professional Touring Bike (silver)              TOU  PRTR2000
2                    Men's Off Road Bike Fully              ORB  ORMN1000
3      Men's Off Road Bike Hard Tail (Shimano)              ORB  ORHT1000
4                   Deluxe Road Bike (Shimano)              ROB  DXRD1000
...                                        ...              ...       ...
48379                          Off Road Helmet              ACC  OHMT1000
48380                        Water Bottle Cage              ACC  CAGE1000
48381                               Repair Kit              ACC  RKIT1000
48382                                 Air Pump              ACC  PUMP1000
48383                            First Aid Kit              ACC  FAID1000

       OrderNumber  ...  Discount USD  Discount DAY   CustomerDescr  Customer  \
0           100001  ...         300.0     300.0   1  Beantown Bikes      5000
1           100001  ...         800.0     800.0   1  Beantown Bikes      5000
2           100001  ...         120.0     120.0   1  Beantown Bikes      5000
3           100001  ...          80.0      80.0   1  Beantown Bikes      5000
4           100001  ...         595.0     595.0   1  Beantown Bikes      5000
...            ...  ...           ...       ...  ..             ...       ...
48379       103318  ...           0.0       0.0  31        Fahrpott     19000
48380       103318  ...           0.0       0.0  31        Fahrpott     19000
48381       103318  ...           0.0       0.0  31        Fahrpott     19000
48382       103318  ...           0.0       0.0  31        Fahrpott     19000
48383       103318  ...           0.0       0.0  31        Fahrpott     19000

       Currency Country  CostOfGoodsManufactured Cogm USD    City
0           USD      US                  2800.00   2800.0  Boston
1           USD      US                  7500.00   7500.0  Boston
2           USD      US                  1200.00   1200.0  Boston
3           USD      US                   900.00    900.0  Boston
4           USD      US                  7000.00   7000.0  Boston
...         ...     ...                      ...      ...     ...
48379       EUR      DE                    18.57     25.0  Bochum
48380       EUR      DE                    13.37     18.0  Bochum
48381       EUR      DE                    11.88     16.0  Bochum
48382       EUR      DE                    20.79     28.0  Bochum
48383       EUR      DE                    14.85     20.0  Bochum

[48384 rows x 23 columns]