# In this session, we learn how to use dataFrame to perform relational algebra operations. In other words, how to manipulate table data using dataFrame

## <font color="blue"> 1. Set Up For Our Lab</font>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Please download the "movie" excel file to your working folder and read it
movie = pd.read_excel('movie.xlsx')
movie

## <font color="blue"> 2. Selection </font>

In [ ]:
# In relational algebra, we talk about how to apply certain selection criteria to select a subset of rows.
# This is done in pandas through "conditional selection" using bracket notation, very similar to numpy. 
# Exercise 1: Selecti all rows with a price higher than $3
# STEP 1: We need to conduct the logic comparison first:
movie.Price > 3

In [ ]:
# STEP 2: We use this bolean series in our bracket as a selection criteria
movie[movie.Price > 3]

In [ ]:
#Excercise 1: Select all movies with a price higher than $5 OR lower than $3

In [ ]:
#Excercise 2: Select all action movies

In [ ]:
#Selecting rows based on multiple column conditions using '&' operator.
# When we have multiple conditions, we use the '&' logic operator to help:
# Select all action movies cheaper than $4
# 1. Action movies:
a = movie.Genre == 'Action'

In [ ]:
#2. Greater than $4:
b = movie.Price > 4

In [ ]:
#3. now we need to merget the two with the "&" logic
a & b

In [ ]:
#4. Finally, return the row:
movie[a&b]

In [ ]:
# Or, we can just do:
movie[(movie.Genre == 'Action') & (movie.Price > 4)]

## <font color="blue"> 3.  Projection </font>

In [ ]:
# The "Projection" operator in relational algebra is simply choosing a column in Pandas
# Select the Price column:
movie.Price

In [ ]:
# What if I just want to select UNIQUE values? First, let me introduce a redundant value:
movie.iloc[4,2] = 5.99
movie

In [ ]:
# Now we can use the "unique" method to choose unique values
movie.Price.unique()

In [ ]:
# Select "Price" and "Genre":
movie[['Price','Genre']]

In [ ]:
# Of course, you can still use all the loc and iloc tricks we talked about before...

## <font color="blue"> 4.  Group By </font>

In [ ]:
# The groupby method allows you to group rows of data together 
movie.groupby('Genre')

In [ ]:
print(movie.groupby('Genre'))

In [ ]:
# Notice that you CANNOT print the actual group by object -- it provides you with a ground for aggregation functions
# For example:
print(movie.groupby('Genre').min())
print(movie.groupby('Genre').max())
print(movie.groupby('Genre').count())
print(movie.groupby('Genre').mean())
print(movie.groupby('Genre').std())

In [ ]:
# Or, the do-it-all summary stats operator:
print(movie.groupby('Genre').describe())